*{
    margin: 0;
}
body{
    background-color: #503d3c;
}
.main{
    width: 900px;
    height: 95vh;
    background:linear-gradient(135deg,#201c26 0%,#503d3c 40%,#000000 50%);
    justify-self: center;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-content{
    display: flex;
    height: 100px;
    
    
    color: white;
    justify-content: space-between;
    .nav-bar ul{
        display: flex;
        margin-top: 30px;
        margin-right: 40px;
        li{
            margin-right: 40px;
            list-style: none;
           
        }
    }
    .nav-bar ul li:hover{
        color: yellow;
        cursor: pointer;
    }
    .logo{
        margin-left: 20px;
        margin-top: 20px;
        color: yellow;
    }
}
.cards{
    width: 250px;
    height: 210px;
    background-color: aliceblue;
    border-radius: 30px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    background:linear-gradient(120deg , black 0%,rgb(112, 110, 110) 60%,rgb(168, 166, 166)70%,rgb(211, 210, 210)80%,rgb(234, 234, 234)90%);
    img{
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .head-content, .paragraph-content{
        position: absolute;
        z-index: 2;
        bottom: 10px; 
    left: 20px;
    color: white
    }
    .head-content{
        margin-bottom: 20px;
        color: #fffefe;
    }
}
.price{
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-weight: 500;
    color: rgb(199, 198, 198);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    margin-top: 75px;
}